.articlesList {
  padding: 0;
  margin: 0 auto;
  width: 70%;
}

.article {
  background-color: rgb(240, 239, 239);
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  list-style: none;
}

.navLink {
  color: black;
}

.tag {
  padding: 5px;
  border: 1px solid green;
}
