.formItem {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.formButtonsContainer {
  margin-bottom: 20px;
}

.button {
  // width: 50%;
  width: 300px;
}

.required-star {
  color: red;
}

.link-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.error {
  color: red;
}
